/* inicio login */
.form-signin input[type="text"] {
        margin-bottom: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vertical-offset-100 {
    padding-top: 100px;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
.panel {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
/* fin login */
.santa_rosa-icon-user-top{
    color: yellow;
}
.santa_rosa-icon-users-sidebar{
    color: blanchedalmond;
}
.santa_rosa-icon-balance-sidebar{
    color: coral;
}
.santa_rosa-icon-charts-sidebar{
    color: yellowgreen;
}
.santa_rosa-page-header{
    border-bottom: 1px solid #eee;
    padding-bottom: 9px;
}

.santa-rosa_bg-dark{
  background-color: #343a40!important;
  /*background-color: #3a250d!important;*/
}
.santa-rosa_bg-dark .navbar-brand{
  /*color: #d89f57!important;*/
  color: #ffffff!important;
}
.santa-rosa_bg-dark .navbar-sidenav{
  /*background-color: #3a250d!important;*/
  background-color: #343a40!important;
}
.santa-rosa_bg-dark .sidenav-toggler{
  background-color: #1f1406!important;
}
.santa-rosa_bg-dark .sidenav-second-level{
  /*background-color: #4c3112!important;*/
  background-color: #61676c!important;
}
.santa-rosa_bg-dark .nav-link-text{
  color: white;
}
.santa-rosa_bg-dark .sidenav-second-level li a{
  /*color: #c4c9ce!important;*/
  color: #ffffff!important;
}
.santa-rosa_bg-dark li a:hover{
  color: #8a8d90!important;
}
.santa-rosa_bg-dark li a span:hover{
  color: #8a8d90!important;
}

#cambiar_password button{
    cursor: pointer;
}
/* paginado */
.page-item.active .page-link {
    z-index: 2;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
/* para calendarios xq no funcionan los iconos desde el javascript */
/* aca esta la web para los iconos http://astronautweb.co/snippet/font-awesome/ */
.datetimepicker-days table th.next:before,
.datetimepicker-hours table th.next:before,
.datetimepicker-minutes table th.next:before {
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 18px;
}
.datetimepicker-days table th.prev:before,
.datetimepicker-hours table th.prev:before,
.datetimepicker-minutes table th.prev:before{
    content: "\f0d9";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
}
