.santa_rosa-icon-user-top{
    color: dodgerblue;
}
.santa_rosa-icon-users-sidebar{
    color: blanchedalmond;
}
.santa_rosa-icon-balance-sidebar{
    color: coral;
}
.santa_rosa-icon-charts-sidebar{
    color: yellowgreen;
}
.santa_rosa-page-header{
    border-bottom: 1px solid #eee;
    padding-bottom: 9px;
}
